<!DOCTYPE html>  
<html lang="en"> 
<head>
  <title>Nancy</title>
  <link href="stylesheets/screen.css?1" media="all" rel="stylesheet" type="text/css" />
  <script src="javascripts/main.js?2" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div class="column">

    <header> 
      <h1>Nancy</h1> 
    </header>

    <section id="content" class="body">
      <%= yield %>
    </section>
    
    <footer>
      Nancy boy.
    </footer> 
  
  </div> 

</body> 
</html>